html {
	font-size: 24px;
}
body {
	background-color: #fdcf3d;
	font-family: "Noto Sans JP";
	font-weight: 400;
	color: #898989;
}
header {
	position: sticky;
	top: 0;
	background-color: #44beef;
	width: 100%;
	height: 3rem;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 999;
	display: flex;
	align-items: center;
	padding-top: 0.5rem;
}
header nav {
	margin: 0 0 0 auto;
	padding-right: 1.5rem;
}
.menu {
	padding: 1rem;
	background-color: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-left: auto;
	position: absolute;
	right: 1rem;
	border-radius: 10px;
}
li {
	margin: 0.5rem 0;
}
li a {
	display: inline-block;
	width: 100%;
}
li a:hover {
	color: #e43965;
}
.img-circle {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	margin-bottom: 0.3rem;
}
.app-name {
	font-size: 2.2rem;
	padding: 1rem;
}
.app-name-font {
	font-family: "Yanone Kaffeesatz";
}
footer {
	z-index: 998;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: right;
	font-size: 0.6rem;
	padding: 0.5rem 1.5rem;
	background-color: #44beef;
	box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}
.footer-link {
	margin: 0 0.3rem;
}
.copyright {
	display: inline;
	margin-left: 1.5rem;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: #898989;
}
h1 {
	font-size: 8rem;
	line-height: 0;
	color: #e43965;
	text-shadow: 0px 10px 10px rgba(255, 255, 255, 1);
	font-weight: 700;
}
h2 {
	color: #e43965;
	text-shadow: 0px 4px 4px rgba(255, 255, 255, 1);
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1rem;
}
.text-center {
	text-align: center;
}
.display-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.display-row {
	display: flex;
	align-items: center;
}
.wrapper-height {
	height: 93vh;
}
.top-wrapper {
	height: 93vh;
}
.justify-space-around {
	justify-content: space-around;
}
.justify-between {
	justify-content: space-between;
}
.justify-center {
	justify-content: center;
}
.form-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem 1rem;
}
.form-group label span {
	color: #898989;
	text-shadow: none;
	font-size: 0.7rem;
}
.form-group input {
	background: rgba(255, 255, 255, 0.6);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	color: #898989;
	padding: 0.5rem 1rem;
	width: 19.5rem;
}
.btn {
	display: inline-block;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: bold;
	font-weight: 700;
}
.btn:active {
	box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.lg-button {
	width: 30rem;
	border-radius: 70px;
	padding: 0.5rem 3rem;
	margin: 1rem;
	font-size: 2.5rem;
}
.sm-button {
	width: 15rem;
	border-radius: 50px;
	padding: 0.5rem 1rem;
	margin: 1rem;
	font-size: 1.5rem;
}
.xs-button {
	width: 5rem;
	border-radius: 30px;
	padding: 0.5rem 0.5rem;
	margin: 0.5rem;
	font-size: 1rem;
}
.btn-pink {
	background-color: #e43965;
	color: #ffffff;
}
.btn-yellow-green {
	background-color: #a4db0e;
	color: #ffffff;
}
.btn-green {
	background-color: #4caf50;
	color: #ffffff;
}
.btn-light-blue {
	background-color: #44beef;
	color: #ffffff;
}
.btn-grey {
	background-color: #898989;
	color: #ffffff;
}
.white-shadow {
	color: #ffffff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.flash-msg {
	padding: 1rem;
	z-index: 997;
}
.orange {
	color: #fdcf3d;
}
.pink {
	color: #e43965;
}
.light-blue {
	color: #44beef;
}
.yellow-green {
	color: #a4db0e;
}
.green {
	color: #4caf50;
}
.red {
	color: #ff3d00;
}
.disabled {
	opacity: 0.5;
}
.default-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 18px auto;
	width: 324px;
	height: 563px;
	background-color: #898989;
	color: #ffffff;
	text-align: center;
	font-size: 3.5rem;
	border-radius: 8px 8px 0px 0px;
}
table {
  border-collapse: collapse;
	border: solid 3px #898989;
	background-color: #ffffff;
	margin: 0 auto;
  width: 100%;
}
th, td {
  border: dotted 1px #898989;
	padding: 0.5rem 1rem;
}
@media screen and (max-height: 834px) {
	 .wrapper {
		padding: 4.5rem 0;
	}
	.top-wrapper {
		margin: 1.5rem auto;
		height: auto;
	}
}
@media screen and (max-width: 1024px) {
	html {
		font-size: 18px;
	}
}
@media screen and (max-width: 425px) {
	html {
		font-size: 12px;
	}
	h2 {
		font-size: 2rem;
	}
	.wrapper {
		padding: 0;
	}
	.lg-button {
		width: 28rem;
	}
	.wrapper-height {
		height: 90vh;
	}
	.top-wrapper {
		margin: 0 auto;
	}
}
@media screen and (max-width: 320px) {
	html {
		font-size: 10px;
	}
}
