.contents-wrapper {
	width: 30%;
	height: 240px;
	background-color: #ffffff;
	box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25);
}
.play-icon-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: -8rem;
	margin-right: 2rem;
	z-index: 99;
	position: absolute;
	right: 0%;
	bottom: 16%;
}
.play-icon {
	font-size: 1.5rem;
	cursor: pointer;
}
.pointer-num {
	position: absolute;
	top: 1rem;
	left: 2rem;
	z-index: 99;
	font-weight: bold;
}
@media screen and (max-width: 1366px) {
	.contents-wrapper {
		width: 50%;
	}
}
@media screen and (max-width: 1024px) {
	.play-icon {
		font-size: 2rem;
	}
}
@media screen and (max-width: 1024px) and (max-height: 800px) {
	.contents-wrapper {
		width: 30%;
	}
}
@media screen and (max-width: 800px) and (min-height: 800px) {
	.contents-wrapper {
		width: 65%;
	}
}
@media screen and (max-height: 800px) {
	.contents-wrapper {
		height: auto;
		position: absolute;
		top: 400px;
		z-index: 90;
		background-color: transparent;
		box-shadow: none;
	}
}
@media screen and (max-width: 425px) {
	.contents-wrapper {
		width: 55%;
		top: 450px;
		left: 12%;
	}
	.play-icon {
		font-size: 3.5rem;
	}
	.play-icon-wrapper {
		right: 10%;
	}
	.pointer-num {
		font-size: 2rem;
	}
}
@media screen and (max-width: 375px) {
	.play-icon-wrapper {
		right: 6%;
		bottom: 12%;
	}
	.contents-wrapper {
		width: 60%;
		bottom: 3%;
		left: 10%;
	}
}
@media screen and (max-width: 320px) {
	.play-icon-wrapper {
		right: 0%;
		bottom: 10%;
	}
	.contents-wrapper {
		width: 65%;
		bottom: -5%;
		left: 3%;
	}
	.pointer-num {
		top: 1rem;
		left: 2rem;
	}
}
