.tiktok-wrapper {
	width: 30%;
	height: 600px;
	background-color: #ffffff;
	box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25);
	z-index: 1;
}
.item {
	width: 540px;
	height: 563px;
}
.contents-wrapper {
	width: 30%;
	height: 240px;
	background-color: #ffffff;
	box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25);
}
.icon-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: -8rem;
	margin-right: 2rem;
}
.icon {
	font-size: 1.5rem;
	cursor: pointer;
}
.pointer {
	position: absolute;
	margin: 1rem 0 0 2rem;
	font-weight: bold;
}
@media screen and (max-height: 768px) {
	.contents-wrapper {
		height: 200px;
	}
}
@media screen and (max-width: 1366px) {
	.tiktok-wrapper {
		width: 50%;
	}
	.contents-wrapper {
		width: 50%;
	}
}
@media screen and (max-width: 1024px) {
	.icon {
		font-size: 2rem;
	}
}
@media screen and (max-width: 800px) {
	.tiktok-wrapper {
		width: 65%;
	}
	.contents-wrapper {
		width: 65%;
	}
}
@media screen and (max-width: 425px) {
	.tiktok-wrapper {
		width: 100%;
	}
	.contents-wrapper {
		width: 100%;
	}
	.icon {
		font-size: 3.5rem;
	}
	.icon-wrapper {
		position: absolute;
		right: 10%;
		bottom: 22%;
		z-index: 99;
	}
	.pointer {
		z-index: 99;
		font-size: 2rem;
		margin: 2rem 0 0 5rem;
	}
}
@media screen and (max-width: 375px) {
	.icon-wrapper {
		right: 6%;
		bottom: 15%;
	}
	.pointer {
		margin: 2rem 0 0 4rem;
	}
}
@media screen and (max-width: 320px) {
	.icon-wrapper {
		right: 0%;
		bottom: 0%;
	}
	.pointer {
		margin: 2rem 0 0 2rem;
	}
}
