.user-wrapper {
	margin: 2rem auto;
	padding: 1rem;
	display: grid;
	grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
	gap: 1rem;
}
.user-div-style {
	background: rgba(255, 255, 255, 0.6);
	border-radius: 50px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 2rem;
}
.record-left {
	width: 30%;
	height: 100%;
	padding-top: 3rem;
	line-height: 2.5rem;
}
.user-right-wrapper {
	display: grid;
	grid-template-rows: 1.5fr 1fr;
  grid-template-columns: 1fr;
	gap: 1rem;
}
.score-font {
	font-size: 2.5rem;
}
.record-right {
	width: 70%;
	height: 100%;
	margin-left: auto;
}
.record {
	font-size: 2rem;
	grid-row: 1/2;
}
.record-right-width {
	width: 100%;
}
.cog {
	margin-left: auto;
}
.user-icon {
	display: block;
	font-size: 1.5rem;
	cursor: pointer;
}
.video-icons {
	width: 35%;
}
.notice-delete {
	font-weight: 900;
	cursor: pointer;
}
.title {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	padding: 1rem;
}
.layer-icon {
	color: rgba(255, 255, 255, 0.4);
	font-size: 3rem;
	position: relative;
	right: 45%;
	bottom: 50%;
}
.bg-orange {
	background-color: #fdcf3d;
}
.notification {
	grid-column: 1/3;
}
.notice-item {
	background-color: #ffffff;
	padding: 1rem;
	margin: 0.5rem 0.5rem 0.5rem 0;
	border-radius: 1rem;
}
.gold {
	background: linear-gradient(
		45deg,
		#b67b03 0%,
		#daaf08 45%,
		#f7e8d6 70%,
		#daaf08 85%,
		#b67b03 90% 100%
	);
}
.iron {
	background: linear-gradient(
		45deg,
		#757575 0%,
		#b8b8b8 45%,
		#e7e7e7 70%,
		#b8b8b8 85%,
		#757575 90% 100%
	);
}
.soil {
	background: linear-gradient(
		45deg,
		#7e5737 0%,
		#c0a795 45%,
		#eae1db 70%,
		#c0a795 85%,
		#7e5737 90% 100%
	);
}
@media screen and (max-width: 425px) {
	.record {
		grid-column: 1/3;
	}
	.user-right-wrapper {
		grid-column: 1/3;
		grid-template-rows: 1fr;
  	grid-template-columns: 2fr 1fr;
	}
  .user-div-style {
    border-radius: 30px;
  }
  .cog {
    font-size: 2rem;
  }
}
